DB_USER=postgres
DB_PASSWORD=root
DB_NAME=coworkspace
DB_HOST=localhost
DB_PORT=5432
DB_SSLMODE=disable
JWT_SECRET=neverGuess

SMTP_EMAIL=...@gmail.com
SMTP_PASSWORD= app Password à generer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587